<% body_class "landingpage" %>
<% #page_title "Intelligent die Welt retten." %>

<div>

  <%=render partial: "header"%>

  <%=render partial: "what_are_traciebles"%>

  <%=render partial: "example_map"%>

  <%=render partial: "value_propositions"%>

  <%=render partial: "logos"%>

  <%=render partial: "footer"%>
</div>
