<% body_class "landingpage" %>
<% page_title "Intelligent die Welt retten." %>

<div>

  <%=render partial: "landingpage/header"%>

  <%=render partial: "landingpage/what_are_traciebles"%>

  <%=render partial: "landingpage/example_map"%>

  <%=render partial: "landingpage/value_propositions"%>

  <%=render partial: "landingpage/logos"%>

  <%=render partial: "landingpage/footer"%>
</div>
